<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>DefoFinances Error</title>

    <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
    <body>
      <nav class="navbar navbar-expand-md navbar-light bg-light">
  	  	<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
  	        <ul class="navbar-nav mr-auto">
  	            <li class="nav-item">
  	                <a class="navbar-brand" href="#">DefoFinances</a>
  	            </li>
  	        </ul>
  	    </div>
  	</nav>
        <!--h1>Welcome to DefoFinances</h1-->

        <!-- Click <a th:href="@{/transactions}">here</a> to see your transactions</p-->
        <p>Error page</p>
    </body>
</html>
